@import '../styles/base/palette';

.linksBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.resourceLink {
    margin: 0 0.2rem;
    padding: 0.5rem;
    background-color: $accent-dark;
    color: $light;
    border-radius: 5px;
    box-shadow: 0 0 3px 1px $accent-mid;
    &:hover {
        background-color: $accent-mid;
    }
}