.generateDisplay {
}
.projectDisplay {
}

.linksBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.resourceLink {
    margin: 0 0.2rem;
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
    &:hover {
    }
}