@import './base/palette';
@import './base/typography';

html, body {
    margin: 0;
    padding: 0;
    background-color: $light;
}

footer, header, main {
    display: flex;
    width: 100vw;
}
footer, header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    height: 5vh;
}
footer p {
    font-size: 0.8rem;
}

header {
    height: 10vh;
}

main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
main div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 45%;
    text-align: center;
}
main button {
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}