@import './base/palette';
@import './base/typography';

html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: limegreen;
}

footer, header, main {
    display: flex;
    width: 100vw;
}
footer {
    justify-content: center;
    align-items: center;
    height: 10vh;
}
header, main {
    padding: 1rem;
    flex-direction: column;
    height: 45vh;
    transition: height .3s;
}
header {
    justify-content: flex-end;
}
main {
    justify-content: flex-start;
}

button {
    width: 50%;
    font-size: 1.5rem;
}

* {
    box-sizing: border-box;
}